html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 17px 50px;
  font: inherit;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background: #000;
}

/* шапка сайта */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.inner .main-header {
  margin-bottom: 55px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  margin-top: 72px;
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 640px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 120px;
  margin-left: auto;
}

.site-navigation-item {
  margin-right: 47px;
}

.site-navigation-item.site-navigation-item__active {
  position: relative;
}

.site-navigation-item.site-navigation-item__active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -4px;
  background-color: #fb565a;
}

.user-navigation-item.user-navigation-item__active {
  position: relative;
}

/*.user-navigation-item.user-navigation-item__active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -4px;
  background-color: #fb565a;
}*/

.site-navigation-link,
.user-navigation-link {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.site-navigation-link:hover,
.user-navigation-link:hover {
  color: #fb565a;
}

.site-navigation-link:active,
.user-navigation-link:active {
  color: #000000;
  opacity: 0.3;
}

.user-navigation-item.user-navigation-item__active:hover .user-navigation-link,
.user-navigation-item.user-navigation-item__active:active .user-navigation-link {
  color: #000000;
  opacity: 1;
}

.user-navigation-link {
  position: relative;
  padding-left: 40px;
  text-align: right;
}

.user-navigation-link::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-link:active::before {
  opacity: 1;
}

.site-navigation-item.site-navigation-item__active:hover .site-navigation-link,
.site-navigation-item.site-navigation-item__active:active .site-navigation-link {
  color: #000000;
  opacity: 1;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 65px;
  margin-top: 55px;
  margin-right: 200px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo:hover.main-header-logo__active,
.main-header-logo:active.main-header-logo__active {
  opacity: 1;
}

.slider {
  position: relative;
  width: 1160px;
  height: 431px;
  background-color: #eeeeee;
}

.slider-inner {
  overflow: hidden;
}

.slider-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 300%;
}

.slider-one,
.slider-two,
.slider-three {
  width: 1160px;
  height: 431px;
  overflow: auto;
}

.slider-title {
  margin: 0;
  padding: 0;
  width: 520px;
  margin-top: 78px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.slider-text {
  margin: 0;
  padding: 0;
  width: 420px;
  margin-top: 25px;
  margin-bottom: 38px;
}

.slider-btn {
  width: 240px;
  margin-bottom: 78px;
}

.slider-btn:hover {
  background-color: #e74246;
}

.slider-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 3px #c13135;
  box-shadow: inset 0 3px #c13135;
}

.slider-one {
  background-image: url("../img/photo-slide-1.png");
  background-repeat: no-repeat;
  background-position: bottom right 31px;
}

.slider-two {
  background-image: url("../img/photo-slide-2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-three {
  background-image: url("../img/photo-slide-3.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-controls {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 92px;
  width: 110px;
  height: 18px;
  margin-left: -45px;
  text-align: center;
  z-index: 100;
}

.slider-controls .slider-controls-label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 23px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #fff;
  box-shadow: 0 0 0 5px #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border-color: #c3c3c3;
}

#btn-1:checked ~ .slider-inner .slider-sliders {
  -webkit-transform: translate(0);
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-sliders {
  -webkit-transform: translate(-1160px);
  transform: translate(-1160px);
}

#btn-3:checked ~ .slider-inner .slider-sliders {
  -webkit-transform: translate(-2320px);
  transform: translate(-2320px);
}

/* Главная страница */

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 2px solid #eeeeee;
  margin: 0;
  margin-bottom: 40px;
}

.features-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 146px;
  padding-bottom: 78px;
  overflow: hidden;
}

.features-item:last-child {
  margin-right: 60px;
}

.features-item.features-item__web {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.features-item__attachment {
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.features-item__presentation {
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-text {
  margin: 0;
  width: 260px;
  padding-bottom: 20px;
  margin-bottom: 11px;
}

.features-btn {
  width: 160px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
}

.features-btn:hover.features-btn__web {
  background-color: #e74246;
}

.features-btn:active.features-btn__web {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px #c13135;
  box-shadow: inset 0 3px #c13135;
}

.features-btn.features-btn__attachment {
  background-color: #00ca74;
}

.features-btn:hover.features-btn__attachment {
  background-color: #00bc6c;
}

.features-btn:active.features-btn__attachment {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px #009958;
  box-shadow: inset 0 3px #009958;
}


.features-btn.features-btn__presentation {
  background-color: #efc84a;
}

.features-btn:hover.features-btn__presentation {
  background-color: #eab534;
}

.features-btn:active.features-btn__presentation {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px #ce961f;
  box-shadow: inset 0 3px #ce961f;
}

.index-content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 56px;
  border-bottom: 2px solid #eeeeee;
}

.index-content-left {
  margin: 0;
  width: 680px;
}

.index-content-right {
  margin: 0;
  width: 360px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 32px;
  padding-top: 35px;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
}

.index-content-text {
  margin: 0;
  margin-bottom: 22px;
  padding-bottom: 20px;
}

.index-content-caption {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.index-content-caption.index-content-caption__center {
  text-align: center;
}

.index-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-content-item {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 36px;
}

.index-content-item:last-child {
  margin-bottom: 18px;
}

.index-content-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 12px;
  background-color: #fb565a;
}

.index-content-logo {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.index-content-table {
  width: 360px;
  height: 95px;
}

.table-cell {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 30px;
  padding-top: 24px;
  padding-right: 10px;
  line-height: 18px;
}

.table-cell.table-cell__bold {
  padding-top: 22px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.index-content-partners {
  margin: 0;
  padding: 0;
  margin-bottom: 84px;
  padding-top: 48px;
  padding-bottom: 35px;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.partners-item {
  position: relative;
  width: 260px;
  margin-right: 40px;
  text-align: center;
}

.partners-item:last-child {
  margin-right: 0;
}

.partners-item::before {
  position: absolute;
  content: "";
  top: 50%;
  right: -40px;
  width: 52px;
  height: 2px;
  background-color: #eeeeee;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.partners-item:last-child::before {
  display: none;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

/* Каталог */

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-title {
  width: 760px;
  margin: 0 auto;
  margin-top: 75px;
  padding-left: 30px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 400;
}

.catalog-form {
  width: 260px;
}

.catalog {
  width: 760px;
}

.catalog-form-fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  border: none;
}

.catalog-form-fieldset.catalog-form-fieldset__price {
  margin-bottom: 51px;
}

.catalog-form-inscription {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-form-inscription.catalog-form-inscription__range {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.range-controls {
  position: relative;
  height: 39px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 29px;
  left: 20px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 60%;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-controls-label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls-input {
  width: 60px;
  margin-left: 10px;
  padding: 10px 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.catalog-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-form-item {
  margin-bottom: 20px;
}

.field-radio-label,
.field-checkbox-label {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 20px;
  cursor: pointer;
}

.field-radio-label:hover,
.field-checkbox-label:hover {
  color: #000000;
}

.field-radio-input + .field-radio-label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.field-radio-input:checked + .field-radio-label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.field-checkbox-input + .field-checkbox-label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.field-radio-input + .field-radio-label:hover::before {
  opacity: 1;
}

.field-radio-input:checked + .field-radio-label:hover::before {
  opacity: 1;
}

.field-radio-input:checked:disabled + .field-radio-label::before,
.field-radio-input:disabled + .field-radio-label::before {
  opacity: 0.1;
  cursor: default;
}

.field-checkbox-input:checked + .field-checkbox-label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.field-checkbox-input + .field-checkbox-label:hover::before {
  opacity: 1;
}

.field-checkbox-input:checked + .field-checkbox-label:hover::before {
  opacity: 1;
}

.field-checkbox-input:checked:disabled + .field-checkbox-label::before,
.field-checkbox-input:disabled + .field-checkbox-label::before {
  opacity: 0.1;
  cursor: default;
}

.field-radio-label.disabled,
.field-checkbox-label.disabled {
  opacity: 0.3;
  cursor: default;
}

.field-radio-label.disabled.field-radio-label::before,
.field-checkbox-label.disabled.field-checkbox-label::before {
  opacity: 0.1;
  cursor: default;
}

.field-radio-label.disabled:hover.field-radio-label::before,
.field-checkbox-label:hover.disabled.field-checkbox-label::before {
  opacity: 0.1;
  cursor: default;
}

.field-form-btn {
  width: 100%;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.field-form-btn:hover {
  background-color: #dfdfdf;
}


.field-form-btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort-row-list {
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.sort-row-item {
  margin-right: 25px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-row-item.sort-row-item__title {
  margin-right: 265px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  opacity: 1;
}

.sort-row-item.sort-row-item__title:hover {
  opacity: 1;
}

.sort-row-item.sort-row-item__active,
.sort-row-item.sort-row-item__active:hover,
.sort-row-item.sort-row-item__active:active {
  opacity: 1;
}

.sort-row-link {
  color: #000;
  text-decoration: none;
}

.sort-row-item:last-child {
  margin-right: 0;
}

.sort-row-item:hover {
  opacity: 0.6;
}

.sort-row-item:active {
  opacity: 1;
}

.sort-row-item.sort-row-item__arrow {
  margin-left: 22px;
  margin-right: 20px;
}

.sort-row-link.sort-row-link__arrow {
  width: 11px;
  height: 10px;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 760px;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 576px;
  margin-bottom: 73px;
  margin-right: 40px;
  border: 1px solid #ccc;
	cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item::after {
	position: absolute;
	content: "";
	width: 360px;
	height: 40px;
	top: -40px;
	left: -1px;
	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	opacity: 0.12;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-item:hover::after {
	opacity: 1;
}

.catalog-item-info {
  display: none;
}

.catalog-item-info {
  margin: 0;
	position: absolute;
	bottom: -1px;
	left: -1px;
	width: 360px;
	min-height: 231px;
	text-align: center;
	background-color: #eee;
	overflow: auto;
	z-index: 10;
}

.catalog-item-info-link {
	display: block;
	width: 240px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 26px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.catalog-item-info-text {
	display: block;
	width: 240px;
	margin: 0 auto;
	margin-bottom: 20px;
  padding-bottom: 10px;
	line-height: 18px;
	color: #666;
	overflow: hidden;
}

.catalog-item-info-btn {
	padding: 18px 60px;
}

.catalog-item-info-btn:hover {
	background: #e74246;
}

.catalog-item-info-btn:active {
	background: #d7373b;
	-webkit-box-shadow: inset 0 3px rgba(0, 1, 1,0.1);
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.catalog-item:hover .catalog-item-info {
	display: block;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: -14px;
  list-style: none;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-link {
	display: block;
	padding: 18px 20px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
	text-align: center;
	background-color: #eeeeee;
	border-radius: 5px;
}

.pagination-link.pagination-link__active {
	padding: 15px 17px;
	border: 3px solid #dbdbdb;
	background-color: #fff;
	border-radius: 5px;
}

.pagination-link.pagination-link__next {
	padding: 18px 78px;
	font-weight: 500;
	text-transform: uppercase;
}

.pagination-link:hover {
	background-color: #dfdfdf;
}

.pagination-link:active {
	background-color: #d5d5d5;
	-webkit-box-shadow: 0 -3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	opacity: 0.3;
}

.pagination-link:hover.pagination-link__active,
.pagination-link:active.pagination-link__active {
	background-color: #ffffff;
	opacity: 1;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* Карта */

.map {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("../img/map-marker.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map .container {
  position: relative;
  width: 1160px;
  height: 416px;
  margin: 0 auto;
  overflow: auto;
}

.google-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 416px;
  border: none;
}

.contact {
  position: absolute;
  max-width: 219px;
  top: 52px;
  left: 20px;
  padding: 49px;
  background-color: #ffffff;
}

.contact-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.contact-text {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  line-height: 18px;
  color: #666666;
}

.contact-text.contact-text__tel {
  margin-top: 18px;
  margin-bottom: 37px;
}

.contact-btn {
  width: 100%;
  padding-left: 44px;
  padding-right: 44px;
}

.contact-btn:hover {
  background: #e74246;
}

.contact-btn:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* Футер */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 70px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 360px;
  list-style: none;
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  margin-right: 13px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-btn:hover {
  background-color: #e74246;
}

.footer-btn:active {
  background-color: #d7373b;
}

.footer-btn:active path {
  opacity: 0.3;
}

.friends {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 560px;
  margin-right: 200px;
  margin-left: auto;
}

.friends-title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.friends-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}


/* Модальное окно */

.modal-content {
  display: none;
}
